main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
}

hgroup {
    text-align: center;
    margin-top: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    /* margin: auto; */
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-weight: bold;
}

.info-message {
    color: green;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    
}

input:invalid, textarea:invalid, .error {
    border: 1px solid red;
}

#error-message {
    display: none;
    color: red;
    font-weight: bold;
    transition: all 1s allow-discrete;
}

small {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
}

#message {
    margin-bottom: 0;
}